<header id="navbar">
  <div class="common-padding main-navbar">

    <a href="" class="logo-container">
      <div>
        <p class="logo">Vedamrit</p>
        <p class="logo-subtitle">Restoring Healths</p>
      </div>
    </a>

    <div class="main-navbar__menu">

      <figure class="menu-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
          <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
        </svg>
      </figure>
      <nav class="main-navbar__menu__item">
        <a href="">Detox Program</a>
        <a href="">Prakriti Analysis</a>
        <a href="">Online Consultation</a>
        <a href="">Articles</a>
      </nav>
    </div>
  </div>

  <nav class="primary-navbar__menu">
    <a href="">Home</a>
    <a href="">About Us</a>
    <a href="">Contact Us</a>
  </nav>
</header>