<footer class="footer flex row center">
    <div class="flex col space-between footer-container">
      <a href="" class="footer-logo-container">
         <p class="footer-logo">Vedamrit</p>
      </a>
      
      <nav class="flex row space-between footer-nav__social-media">
        <a href=""><i class="bi bi-facebook"></i></a>
        <p class="divider">|</p>
        <a href=""><i class="bi bi-instagram"></i></a>
        <p class="divider">|</p>
        <a href=""><i class="bi bi-google"></i></a>
      </nav>
      
      <nav class="flex row space-between footer-nav__menu">
        <a href="#">About Us</a>
        <a href="#">Contact Us</a>
      </nav>
  
      <div class="copyright">
        <span>&#169;</span> Copyrights 2021, Vedamrit
      </div>
    </div>
  </footer>
