<header>
    <div class="common-padding flex row primary-navbar">
      <ul class="flex row primary-navbar__social-medias">
        <li><a href=""><i class="bi bi-facebook"></i></a></li>
        <li><a href=""><i class="bi bi-instagram"></i></a></li>
        <li><a href=""><i class="bi bi-google"></i></a></li>
      </ul>
      
      <ul class="flex row primary-navbar__menu">
        <li><a href="">Home</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="">Contact Us</a></li>
      </ul>
  </div>
  </header>