/* You can add global styles to this file, and also import other style files */
*, :after, :before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

html {
    background-color: #f7f7f7;
    color: #000;
    font-family: Noto Serif,serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}

body {
    background-color: #f7f7f7;
    font-size: 1em;
    min-height: 100%;
    overflow-x: hidden;
}
