<div id="navbar">

  <div class="common-mobile-padding flex row space-between">
    <a href="" id="logo">
      <div>
        <p class="logo-title">Vedamrit</p>
        <p class="logo-subtitle">Restoring Healths</p>
      </div>
    </a>

    <div class="flex col center">
      <button class="btn" (onclick)="toggleMenuItems">Menu</button>
    </div>
  </div>

  <div id="menu-services" class="common-mobile-padding hidden">

    <div class="flex col menu-services__items">
      <p class="menu-title">Navigate</p>
      <nav class="flex col">
        <a href="">Home</a>
        <a href="">About Us</a>
        <a href="">Contact Us</a>
      </nav>
    </div>

    <div class="flex col menu-services__items">
      <p class="menu-title">Services</p>
      <nav class="flex col">
        <a href="">Detox Program</a>
        <a href="">Prakriti Analysis</a>
        <a href="">Online Consultation</a>
        <a href="">Articles</a>
      </nav>
    </div>

  </div>
</div>
