#navbar {
  background-color: #FAFAFA;
  position: fixed;/* Make it stick/fixed */
  top: 0;/* Stay on top */
  width: 100%;/* Full width */
  transition: top 0.3s;/* Transition effect when sliding down (and up) */
}

#logo {
  color: black;
}

#logo:hover {
  border-bottom: none;
}

.logo-title {
  font-size: 1.6rem;
  font-weight: 600;
}

.logo-subtitle {
  font-size: 0.9rem;
  text-align: center;
}

.btn {
  padding: 0.3em 0.4em;
  border-radius: 12px;
  font-size: 1.2rem;
}

.menu-title {
  text-decoration: underline;
  margin-bottom: 0.5em;
  font-size: 1.2em;
  font-weight: 600;
}

.menu-services__items {
  margin-bottom: 1em;
}

.menu-services__items a {
  color: black;
}
