.main-navbar {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  justify-content: space-between;
  background-color: #FAFAFA;
  border-bottom: 0.4px solid black;
}

.logo-container {
  color: black;
}

.logo-container:hover {
  border-bottom: none;
}

.logo {
  font-size: 1.6rem;
  font-weight: 600;
}

.logo-subtitle {
  font-size: 0.9rem;
  text-align: center;
}

.main-navbar__menu {
  justify-content: center;
}

.main-navbar__menu a {
  color: black;
  margin-left: 1.5em;
}
